@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');

a.button {
    --background: #0F172A;
    --text: #F1F5F9;
    --background-hover: #1e293b;
    --icon: #E2E8F0;
    --outline: #8286fc;
    --border: #334155;

    --padding: 8px 20px;
    --font-size: 14px;
    --height: 38px;
    --line-height: 22.4px;
    --icon-size: 12px;

    text-wrap: nowrap;
    margin: 0;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    border: none;
    box-sizing: border-box;
    border-radius: 9999px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
    outline-color: transparent;
    background-color: var(--background);
    color: var(--text);
    padding: var(--padding);
    height: var(--height);
    font-size: var(--font-size);
    line-height: var(--line-height);

    & > .icon {
        width: var(--icon-size);
        height: var(--icon-size);
    }

    &.lg {
        --padding: 12px 24px;
        --height: 48px;
        --font-size: 16px;
        --line-height: 25.6px;

        --icon-size: 16px;
    }

    &:hover {
        background-color: var(--background-hover);
    }

    &:focus-visible {
        outline-color: var(--outline);
    }

    & > .icon {
        color: var(--icon);
        margin-left: 8px;
        display: inline-flex;
    }

    & > .logo {
        margin-right: 12px;
        display: inline-flex;
    }

    &.branded {
        border-width: 1px;
        border-style: solid;
        border-color: var(--border);

        & > .icon {
            margin-left: 12px;
        }
    }

    &.bottom-right, &.bottom-left {
        position: fixed;
        width: auto;
    }

    &.bottom-right {
        top: auto;
        left: auto;
        bottom: 40px;
        right: 40px;
    }

    &.bottom-left {
        top: auto;
        right: auto;
        bottom: 40px;
        left: 40px;
    }

    &.dark {
        --background: #fff;
        --text: #1E293B;
        --background-hover: #f8fafc;
        --icon: #334155;

        border: none;
    }

    &.light {
        --background: #0F172A;
        --text: #F1F5F9;
        --background-hover: #1e293b;
        --icon: #E2E8F0;

        &.branded {
            border-width: 1px;
            border-style: solid;
            border-color: var(--border);
        }
    }
}

@media (prefers-color-scheme: dark) {
    a.button {
        --background: #fff;
        --text: #1E293B;
        --background-hover: #f8fafc;
        --icon: #334155;

        border: none;
    }
}
